.message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
}

.message__icon {
    margin: 0 15px;
}

.message__text {
    position: relative;
    /* for date - position: absolute */
    padding: 17px 23px;
    max-width: 300px;
    background-color: #989ad7;
    color: white;
    border-radius: 10px;
    color: white;
    opacity: 0.8;
}

.message__time {
    position: absolute;
    bottom: -25px;
    right: 10px;
    font-size: 0.8em;
    color: #989ad7;
}
