.chat {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.chat header {
    display: flex;
    height: 60px;
    margin-top: 10px;
    justify-content: center;
}

.chat header div {
    display: flex;
}

.chat header img {
    margin: auto 0;
    /* logo vertical alignment */
    width: 120px;
}
